@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  --margin-xl: 4rem;
  --margin-lg: 3rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: 0.8rem;
  --margin-xxs: 0.5rem;

  --padding-xl: 4rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: 0.8rem;
  --padding-xxs: 0.5rem;

  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background: rgb(240, 244, 248);
}

.App {
  display: flex;
}
.Table {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.Clickbar {
  align-self: flex-start;
  cursor: pointer;
}
.Table div i {
  margin: 10px;
  /* margin-top: 30px; */
  font-size: 1.5rem;
  color: #fff;
  background-color: #303f9f;
  padding: 5px;
  text-align: center;
}
.addBtn {
  display: flex;
  flex-direction: row;
}
.btn {
  margin: 10px 10px;
  color: #fff;
}
.btn.edit {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #303f9f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.edit:hover {
  color: yellow;
}
.add {
  margin: 20px 30px;
  padding: 5px;
  font-size: 31px;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #fff;
  background-color: #303f9f;
}
.add:hover {
  background-color: #efefef;
  color: #242424;
}
.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  height: 100vh;
  background-color: #304b62;
  color: #fff;
}
.header {
  margin-top: 50px 0;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.InputContainer {
  /* display: flex; */
  width: 50vh;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.saveadd {
  border: 1px solid #242424;
  background-color: green;
  color: #fff;
}
.delete {
  border: 1px solid #242424;
  background-color: rgba(255, 0, 0, 0.686);
  color: #fff;
}

.Container input {
  height: 30px;
  width: 100%;
  color: #fff;
}
.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70%;
}
.search-header > .btn {
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 851px) {
  .search-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 70%;
  }
}
.search-bar {
  min-width: 50%;
  padding: 8px;
  border: none;
  outline: none;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.473);
}

.search-button {
  background-color: #303f9f;
  color: white;
  padding: 8px 10px;
  border: none;
}
.search-button:active {
  background-color: #303f9f64;
}
select {
  height: 30px;
  width: 100%;
  color: #fff;
}
.Container select option {
  margin: 40px;
  background: #b7b7d5;
  color: #fff;
  padding: 0 7px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
span {
  font-size: 13px;
  display: block;
}
.InputContainer div {
  margin-bottom: 10px;
}
.Container input {
  background-color: transparent;
  border: 1px solid rgba(254, 254, 254, 0.3);
  border-radius: 5px;
  padding: 0 8px;
  font-size: 14px;
}
select {
  background-color: transparent;
  border: 1px solid rgba(254, 254, 254, 0.3);
  border-radius: 5px;
  padding: 0 8px;
  font-weight: lighter;
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}
.btnArrange {
  margin: 0;
  display: flex;
  justify-content: center;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 65px;
  padding-top: 50px;
  padding-left: 20px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease-in;
}
.nav-menu.active {
  background: #2c3b46;
  left: 0;
  opacity: 0.9;
  transition: all 0.5s ease-in;
  /* z-index: 1; */
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.Table > ul li {
  margin-top: 30px;
  cursor: pointer;
}
.searchBar {
  justify-content: flex-end;
  margin-left: 10px;
}
label {
  margin-left: 10px;
}
.profileContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  position: absolute;
  top: 0;
  right: 15px;
  margin: 20px 0;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 10px auto;
}
.profileContainer i {
  margin: 0 15px;
  color: #808080;
}
.imageContainer:hover > .profile_info_iner {
  opacity: 1;
  visibility: visible;
  top: 77px;
}
.profile_info_iner {
  opacity: 1;
  visibility: visible;
  top: 77px;
}
.profileContainer img {
  width: 42px;
  height: 42px;
}
.profileContainer p {
  font-size: 1rem;
  margin: 0;
}
.profile_info_iner {
  position: absolute;
  right: 0;
  background-color: #fff;
  text-align: left;
  width: 215px;
  padding: 0;
  opacity: 0;
  font-family: "Nunito", sans-serif;
  visibility: hidden;
  top: 77px;
  transition: 0.5s;
  border-radius: 15px;
  z-index: 20;
  cursor: pointer;
}
.profile_info_iner::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  top: -10px;
  right: 15px;
  border-width: 0 11px 12px;
  border-color: transparent transparent #567aed transparent;
  z-index: 19;
}
.profile_info_iner p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.profile_info_iner h5 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.profile_info_iner a {
  color: #2e4765;
  font-size: 14px;
  display: block;
  padding: 10px 0;
  font-weight: 400;
  text-decoration: none;
}
.profile_author_name {
  padding: 20px 25px;
  background: #567aed;
  border-radius: 10px 15px 0 0;
}
.profile_info_details {
  padding: 20px 25px;
}
hr {
  background-color: #676e73;
}
.IconTitle {
  display: flex;
  height: 100%;
}
.sideBarDiv {
  margin: 0;
  padding: 0;
}
